/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7ead39d0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #b8b8b833;
}

*::-webkit-scrollbar-thumb {
  background-color: #7ead39d5;
  border-radius: 10px;
  border: 1px solid #7ead39d5;
}